---
const localPath = "/recipes/deployments/argocd-gitops-deployment/";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CCC31PP3QS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag("js", new Date());
    gtag("config", "G-CCC31PP3QS");
  </script>
  <title>Redirecting...</title>
  <meta name="robots" content="noindex, follow" />
  <link rel="canonical" href={`https://kubernetes.recipes${localPath}`} />
  <meta http-equiv="refresh" content={`0; url=${localPath}`} />
  <script is:inline define:vars={{ localPath }}>window.location.replace(localPath);</script>
</head>
<body><p>Redirecting to <a href={localPath}>ArgoCD GitOps Deployment</a>...</p></body>
</html>
