---
---

<section class="mt-24 max-w-5xl mx-auto px-4 md:px-0">
  <h2 class="text-4xl md:text-5xl font-bold text-center tracking-tight">
    About the Book
  </h2>
  <p class="text-slate-600 mt-6 text-lg leading-relaxed">
    <strong>Kubernetes Recipes</strong> is your essential guide to using Kubernetes for container orchestration,
    providing a hands-on, problem-solving approach to address the intricacies of deployment, scaling,
    and day-to-day operations.
  </p>
  <p class="text-slate-600 mt-4 text-lg leading-relaxed">
    Beginning with the fundamentals, the book covers installation, working with the Kubernetes API,
    and application primitives. It includes monitoring, troubleshooting, handling specialized workloads,
    managing volumes and configuration data, scaling strategies, and security best practices.
  </p>
  <p class="text-slate-600 mt-4 text-lg leading-relaxed">
    You'll gain practical skills in everyday tasks like using the CLI, managing workloads, and accessing logs.
    The book extends to advanced topics such as developing Kubernetes itself, leveraging Helm, and using
    observability tools like Prometheus and Grafana.
  </p>
  <p class="text-slate-600 mt-4 text-lg leading-relaxed">
    <strong>Kubernetes Recipes</strong> is for developers, system administrators, DevOps professionals,
    project managers, students, and researchers—anyone ready to master this powerful platform with confidence.
  </p>
</section>
