<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} 
    <a href="https://lucaberton.com/" target="_blank" rel="noopener" class="hover:underline">
      Luca Berton
    </a> 
    &amp; 
    <a href="https://stencel.io/" target="_blank" rel="noopener" class="hover:underline">
      Grzegorz Stencel
    </a>.
    All rights reserved.
  </p>
</footer>
