---
const localPath = "/recipes/deployments/jobs-cronjobs/";
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Redirecting...</title>
  <meta name="robots" content="noindex, follow" />
  <link rel="canonical" href={`https://kubernetes.recipes${localPath}`} />
  <meta http-equiv="refresh" content={`0; url=${localPath}`} />
  <script is:inline define:vars={{ localPath }}>window.location.replace(localPath);</script>
</head>
<body><p>Redirecting to <a href={localPath}>Jobs & CronJobs</a>...</p></body>
</html>
